{% extends 'base.html' %}

{% block content %}

{% from "_macro.html" import render_field %}

<div class="col-md-4 mx-auto" style="text-align: center;">
    <div class="card">
        <div class="card-header">
            <h1>Registro de usuario</h1>
        </div>
        <div class="card-body">
            <form action="/Registro" name="nuevodatos" method="POST">
                <div class="form-group">
                    {{render_field(form.nombre)}}
                </div>
                <div class="form-group">
                    {{render_field(form.apellido)}}
                </div>
                <div class="form-group">
                    {{render_field(form.email)}}
                </div>
                <div class="form-group">
                    {{render_field(form.clave)}}
                </div>
                <button type="submit" class="btn btn-primary">Crear mi cuenta</button>
                <a style="text-align: center; position:absolute; bottom:-50px; left: 100px; color:white" href="/IniciarSesion">¿Ya tienes una cuenta? Inicia sesión</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}